:root {
  --color-text: #757575;
  --header-color-text: #212121;
  --color-accent: #2196f3;
  --second-header-color-text: #ffffff;
  --background-color: #fffafa;
  --section-background-color: #f5f5f5;
  --icon-klient-color: #afb1b8;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-Bold.woff), url(../fonts/Raleway-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.woff2), url(../fonts/Roboto-Black.woff);
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.woff2), url(../fonts/Roboto-Bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.woff2), url(../fonts/Roboto-Medium.woff);
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff2), url(../fonts/Roboto-Regular.woff);
  font-weight: 400;
}
/**
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /npm/modern-normalize@1.1.0/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/*# sourceMappingURL=/sm/b8ae781793ee4eb86edef3f2a2ac43a5575d063ed8cd287d7553f9f1b2776616.map */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

body {
  color: var(--color-text);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header {
  color: var(--header-color-text);
  font-weight: 700;
  line-height: 1.17;
}

.center {
  text-align: center;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    max-width: 460px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1220px) {
  .section-info__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-gallery-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-team-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    padding-left: 7px;
    padding-right: 6px;
    margin-left: auto;
  }
  .footer-wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
  .header__body {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.backdrop {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: calc(100% - 60px);
  width: calc(100% - 30px);
  padding: 40px;
  overflow: auto;
  background-color: var(--second-header-color-text);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}
.btn {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: transparent;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: var(--header-color-text);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}
.btn:hover, .btn:focus {
  background-color: var(--color-accent);
  color: var(--second-header-color-text);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--color-accent);
  color: var(--second-header-color-text);
  cursor: pointer;
  border: transparent;
  padding: 10px 32px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}
.button:hover, .button:focus {
  background-color: #188ce8;
  color: var(--second-header-color-text);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.moda-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.moda-close-btn > svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.moda-close-btn:focus > svg,
.moda-close-btn:hover > svg {
  fill: var(--color-accent);
}

.moda-close-btn__img {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.moda-close-btn:focus > .moda-close-btn__img, .moda-close-btn:hover > .moda-close-btn__img {
  fill: var(--color-accent);
}

.logo {
  color: #000000;
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  line-height: 1.19;
}

.navigation__span {
  color: var(--color-accent);
}

.form-feedback b {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  color: #212121;
  text-align: center;
}

.form-feedback label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
  color: var(--color-text);
}

.form-feedback input {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-label > input:focus + svg {
  fill: var(--color-accent);
}

.wrapper-label > input + svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-label > input:focus {
  border-color: var(--color-accent);
  outline: none;
}

.wrapper-label svg {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.wrapper-label {
  display: block;
  position: relative;
  margin-top: 4px;
}

.form-feedback textarea {
  display: block;
  width: 100%;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-feedback textarea:focus {
  border-color: var(--color-accent);
  outline: none;
}

textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.17;
}

textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.17;
}

textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.17;
}

textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.17;
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.17;
}

.wrapper-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper-checkbox label {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  line-height: 1.7;
}

.wrapper-checkbox > input + label svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-checkbox > input:focus + label svg {
  fill: var(--color-accent);
}

input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: none;
}

.checkbox:checked + label > svg {
  background-color: var(--color-accent);
  background-image: url(../images/pictures/check.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  fill: var(--color-accent);
  border-radius: 2px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-checkbox a {
  color: var(--color-accent);
}

form .button {
  display: block;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .nav-list,
.list-contact {
    display: none;
  }
  .header {
    position: relative;
  }
  .mobile-menu {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 900;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;
  }
  .mobile-menu.is-open {
    position: fixed;
    overflow-y: scroll;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .btn-mobile-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-mobile-menu:hover .btn-mobile-menu__img, .btn-mobile-menu:focus .btn-mobile-menu__img {
    fill: var(--color-accent);
  }
  .mobile-menu__nav-item {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--header-color-text);
  }
  .mobile-menu__nav-item:last-child {
    margin-bottom: 0;
  }
  .mobile-menu__nav-item:hover, .mobile-menu__nav-item:focus {
    color: var(--color-accent);
  }
  .mobile-menu__contact-list {
    margin-bottom: 64px;
  }
  .mobile-menu__container {
    padding-left: 40px;
  }
  .mobile-menu__container-nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .mobile-menu__wrapper-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 48px 0;
    height: 85vh;
  }
  .mobile-menu__contact-link-tel {
    display: inline-block;
    margin-bottom: 32px;
    color: var(--color-accent);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .mobile-menu__contact-link-mail {
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--color-text);
  }
  .mobile-menu__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mobile-menu__social-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--color-accent);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .mobile-menu__social-item:last-child {
    margin-right: 0;
  }
  .mobile-menu__social-item:not(:last-child)::after {
    content: "";
    margin-left: 10px;
    margin-right: 10px;
    width: 20px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background-color: rgba(33, 33, 33, 0.2);
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .mobile-menu__container {
    position: relative;
    max-width: 460px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .btn-mobile-menu {
    display: none;
  }
  .list-contact {
    display: block;
  }
  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 9px;
    padding-bottom: 8px;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation__logo_right {
    margin-right: 65px;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-list__item {
    position: relative;
  }
  .nav-list__item:last-child {
    margin-right: 0;
  }
  .nav-list__link {
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color-text);
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--color-accent);
  }
  .current {
    color: var(--color-accent);
  }
  .current::after {
    position: absolute;
    bottom: -32px;
    right: 0px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--color-accent);
    border-radius: 2px;
  }
  .nav-list__item {
    margin-right: 50px;
  }
  .list-contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--color-text);
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .list-contact__link:hover, .list-contact__link:focus {
    color: var(--color-accent);
  }
  .list-contact__link_padding-bottom {
    padding-bottom: 12px;
  }
  .list-contact__link_padding-top {
    padding-top: 11px;
  }
  .list-contact__link > svg {
    margin-right: 10px;
    fill: var(--color-text);
  }
  .list-contact__link:hover svg,
.list-contact__link:focus svg {
    fill: var(--color-accent);
  }
}
@media screen and (min-width: 1200px) {
  .navigation__logo_right {
    margin-right: 93px;
  }
  .list-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .list-contact__mail {
    margin-bottom: 0px;
    margin-right: 40px;
  }
  .list-contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 0;
  }
  .header__body {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}
.herois__header {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-header-color-text);
}

@media screen and (max-width: 768px) {
  .herois {
    padding: 118px 0;
    background-color: #c4c4c4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/pictures/mobile/header-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/pictures/mobile/header-min.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 192dpi), screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .herois {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/pictures/mobile/header@2-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/pictures/mobile/header@2-min.jpg);
  }
}
@media screen and (min-width: 768px) {
  .herois {
    padding: 118px 0;
    background-color: #c4c4c4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/pictures/tablet/tablet-header-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/pictures/tablet/tablet-header-min.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .herois {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/pictures/tablet/tablet-header@2x-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/pictures/tablet/tablet-header@2x-min.jpg);
  }
}
@media screen and (min-width: 768px) {
  .herois__header {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .herois {
    padding: 200px 0;
    background-color: #c4c4c4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/pictures/desktop/desktop-header-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/pictures/desktop/desktop-header-min.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .herois {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/pictures/desktop/desktop-header@2x-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/pictures/desktop/desktop-header@2x-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .herois__header {
    font-size: 44px;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
  }
}
.card-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  max-width: 450px;
  height: 120px;
}

.card-advantage__subtitle {
  margin-bottom: 10px;
  line-height: 1.17;
}

.section-info__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .card-advantage__subtitle {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .section-info__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card-advantage__subtitle {
    text-align: start;
  }
  .section-info__item {
    width: 354px;
  }
  .section-info__item:nth-child(2n-1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-info__item {
    width: 270px;
  }
  .section-info__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1200px) {
  .section-gallery {
    display: none;
  }
}
.section-gallery-header {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.section-gallery > div {
  padding-bottom: 94px;
}

.section-gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-gallery-list-item {
  position: relative;
  margin-right: 30px;
}
.section-gallery-list-item:last-child {
  margin-right: 0;
}

.wrapper-gallery-img {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--second-header-color-text);
  text-align: center;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.section-gallery-img {
  width: 370px;
}

.team-header {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  margin-bottom: 10px;
  text-align: center;
}

.section-team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.section-team {
  background-color: var(--section-background-color);
}

.section-team-list-item {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card {
  padding: 30px 0 24px;
  text-align: center;
  border: solid 1px transparent;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--second-header-color-text);
}

.wrapper-team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-team-card svg {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card-link:hover .team-card-svg,
.team-card-link:focus .team-card-svg {
  fill: #ffffff;
}

.team-card-link {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  background-color: transparent;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.team-card-link:last-child {
  margin-right: 0;
}
.team-card-link:hover, .team-card-link:focus {
  background-color: var(--color-accent);
}

@media screen and (min-width: 768px) {
  .section-team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .section-team-list-item {
    width: 354px;
  }
  .section-team-list-item:nth-child(2n-1) {
    margin-right: 30px;
  }
  .section-team-list-item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
  .section-team-list-item {
    width: 270px;
    margin-bottom: 0;
  }
  .section-team-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .card {
    padding: 30px 0px;
  }
  .section-team-list-item:nth-child(-n+2) {
    margin-bottom: 0;
  }
}
.svg-client {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--icon-klient-color);
  max-width: 170px;
  max-height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.client__link {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 170px;
  height: 92px;
}

.client-item > a:hover > .svg-client,
.client-item > a:focus > .svg-client {
  fill: var(--color-accent);
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
}

@media screen and (max-width: 768px) {
  .client-item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .client-item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (max-width: 430px) {
  .client-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .client-item {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .client-list {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .client__link {
    width: 226px;
  }
  .svg-client {
    max-width: 226px;
  }
  .client-item {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .client-item:nth-child(2n) {
    margin-right: 30px;
  }
  .client-item:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .client-list > .client-item {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .client-list > .client-item:last-child {
    margin-right: 0;
  }
  .client__link {
    width: 170px;
  }
  .svg-client {
    max-width: 170px;
  }
  .client-list {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
.footer {
  background-color: #2f303a;
}

.footer-div-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

.footer_logo {
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
  width: auto;
  color: var(--second-header-color-text);
}

.footer-span {
  color: var(--color-accent);
}

.address {
  font-style: normal;
}

.address-list-item {
  text-align: center;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link-geo {
  color: var(--second-header-color-text);
}

.address-link-mail {
  color: rgba(255, 255, 255, 0.6);
}

.address-link-phone {
  color: rgba(255, 255, 255, 0.6);
}

.social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.social-div > p {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.social-wrapper svg {
  fill: #ffffff;
}

.footer_team-card-link:hover,
.footer_team-card-link:focus {
  background-color: var(--color-accent);
}

.footer_team-card-link {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-input-footer > input {
  display: block;
  padding: 15px 16px;
  width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--background-color);
  font-size: 16px;
  line-height: 1.25;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-input-footer > input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.wrapper-input-footer > input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.wrapper-input-footer > input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.wrapper-input-footer > input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.wrapper-input-footer > input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

label[for=email-user-footer] {
  display: block;
  margin-bottom: 20px;
  color: var(--second-header-color-text);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
}

footer form .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-input-footer > input:focus {
  border-color: var(--color-accent);
  outline: none;
}

footer .button > svg {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .wrapper-input-footer > input {
    max-width: 450px;
    margin: 0 auto 20px;
  }
  .footer__wraper-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    max-width: 584px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__wraper-tablet {
    margin: 0;
  }
  .wrapper-input-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wrapper-input-footer > input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
  label[for=email-user-footer] {
    text-align: start;
  }
  .footer-div-adress {
    margin-bottom: 0;
    margin-right: 94px;
  }
  .social-wrapper {
    margin-bottom: 0;
  }
  .address-list-item {
    text-align: start;
  }
  .footer_logo {
    text-align: start;
  }
}
.nav-list-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.nav-item-portfolio {
  margin-right: 8px;
}
.nav-item-portfolio:last-child {
  margin-right: 0;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  -ms-flex-preferred-size: 33.3333333333;
      flex-basis: 33.3333333333;
}

.img-portfolio {
  position: relative;
  z-index: -2;
}

.portfolio-item > a:hover .wrapper-portfolio-hidden,
.portfolio-item > a:focus .wrapper-portfolio-hidden {
  opacity: 1;
  -webkit-transform: translate(0px, -295px);
          transform: translate(0px, -295px);
}

.portfolio-item {
  margin-left: 30px;
  margin-top: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover, .portfolio-item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper-portfolio-hidden {
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 295px;
  left: 0px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}

.wrapper-portfolio-hidden > p {
  color: var(--second-header-color-text);
  line-height: 1.6;
  font-size: 18px;
}

.wrapper-cards {
  padding: 20px 24px;
  border-left: #eeeeee solid 1px;
  border-right: #eeeeee solid 1px;
  border-bottom: #eeeeee solid 1px;
}

.subtitle-portfolio {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-text);
}/*# sourceMappingURL=main.css.map */