:root {
  --color-text: #757575;
  --header-color-text: #212121;
  --color-accent: #2196f3;
  --second-header-color-text: #ffffff;
  --background-color: #fffafa;
  --section-background-color: #f5f5f5;
  --icon-klient-color: #afb1b8;
}
