.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-div-adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.footer_logo {
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
  width: auto;
  color: var(--second-header-color-text);
}

.footer-span {
  color: var(--color-accent);
}

.address {
  font-style: normal;
}

.address-list-item {
  text-align: center;
}
.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link-geo {
  color: var(--second-header-color-text);
}

.address-link-mail {
  color: rgba(255, 255, 255, 0.6);
}

.address-link-phone {
  color: rgba(255, 255, 255, 0.6);
}

.social-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.social-div > p {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.social-div {
}

.social-wrapper svg {
  fill: #ffffff;
}

.footer_team-card-link:hover,
.footer_team-card-link:focus {
  background-color: var(--color-accent);
}

.footer_team-card-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-input-footer > input {
  display: block;
  padding: 15px 16px;
  width: 100%;
  margin-bottom: 20px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--background-color);
  font-size: 16px;
  line-height: 1.25;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-input-footer > input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

label[for="email-user-footer"] {
  display: block;
  margin-bottom: 20px;
  color: var(--second-header-color-text);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
}

footer form .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-input-footer > input:focus {
  border-color: var(--color-accent);
  outline: none;
}

footer .button > svg {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .wrapper-input-footer > input {
    max-width: 450px;
    margin: 0 auto 20px;
  }

  .footer__wraper-tablet {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 584px;
    margin: 0 auto;
  }
}

// .footer-wrapper {
//   display: flex;
//   align-items: baseline;
// }

// .wrapper-input-footer {
//   display: flex;
// }
