.herois__header {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-header-color-text);
}

@media screen and (max-width: 768px) {
  .herois {
    padding: 118px 0;
    background-color: #c4c4c4;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/pictures/mobile/header-min.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .herois {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/pictures/mobile/header@2-min.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .herois {
    padding: 118px 0;
    background-color: #c4c4c4;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/pictures/tablet/tablet-header-min.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .herois {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/pictures/tablet/tablet-header@2x-min.jpg);
    }
  }

  .herois__header {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .herois {
    padding: 200px 0;
    background-color: #c4c4c4;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/pictures/desktop/desktop-header-min.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .herois {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/pictures/desktop/desktop-header@2x-min.jpg);
    }
  }

  .herois__header {
    font-size: 44px;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
  }
}

// _______________________________
// .herois {
//   background-color: #c4c4c4;
//   padding: 200px 0;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/pictures/herois.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   max-width: 1600px;
//   margin-left: auto;
//   margin-right: auto;
// }

// .herois__header {
//   font-size: 44px;
//   font-family: "Roboto", sans-serif;
//   font-weight: 900;
//   line-height: 1.4;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--second-header-color-text);
//   text-align: center;
//   margin-bottom: 30px;
//   margin-left: auto;
//   margin-right: auto;
//   width: 696px;
// }
