.header__body {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

// ______ 0 - 767 _______

@media screen and (max-width: 768px) {
  .nav-list,
  .list-contact {
    display: none;
  }

  .header {
    position: relative;
  }

  .mobile-menu {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 900;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .btn-mobile-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .btn-mobile-menu__img,
    &:focus .btn-mobile-menu__img {
      fill: var(--color-accent);
    }
  }

  .mobile-menu__nav-item {
    flex: 1 1 auto;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--header-color-text);

    &:last-child {
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      color: var(--color-accent);
    }
  }

  .mobile-menu__container {
    padding-left: 40px;
  }

  .mobile-menu__wrapper-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 0;
    height: 100vh;
  }

  .mobile-menu__contact-link-tel {
    display: inline-block;
    margin-bottom: 32px;

    color: var(--color-accent);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }

  .mobile-menu__contact-link-mail {
    display: inline-block;
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--color-text);
  }

  .mobile-menu__social-list {
    display: flex;
    flex-wrap: wrap;
  }

  .mobile-menu__social-item {
    display: flex;
    align-items: center;
    color: var(--color-accent);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    &:last-child {
      margin-right: 0;
    }

    &:not(:last-child)::after {
      content: "";
      margin-left: 10px;
      margin-right: 10px;
      width: 20px;
      height: 0px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
      background-color: rgba(33, 33, 33, 0.2);
    }
  }
}

// _______ 480px - 768px__________

@media screen and (min-width: 480px) and (max-width: 768px) {
  .mobile-menu__container {
    position: relative;
    max-width: calc(480px - 20px);
  }
}

// ________768px +______
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .btn-mobile-menu {
    display: none;
  }

  .list-contact {
    display: block;
  }

  .header__body {
    justify-content: space-between;
    padding-top: 9px;
    padding-bottom: 8px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation__logo_right {
    margin-right: 65px;
  }

  .nav-list {
    display: flex;
  }

  .nav-list__item {
    position: relative;

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-list__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color-text);
    padding-top: 25px;
    padding-bottom: 25px;

    &:hover,
    &:focus {
      color: var(--color-accent);
    }
  }

  .current {
    color: var(--color-accent);

    &::after {
      position: absolute;
      bottom: -32px;
      right: 0px;
      content: "";
      width: 100%;
      height: 4px;
      background-color: var(--color-accent);
      border-radius: 2px;
    }
  }

  .nav-list__item {
    margin-right: 50px;
  }

  .list-contact__link {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--color-text);
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover,
    &:focus {
      color: var(--color-accent);
    }
  }

  .list-contact__link_padding-bottom {
    padding-bottom: 12px;
  }

  .list-contact__link_padding-top {
    padding-top: 11px;
  }

  .list-contact__link > svg {
    margin-right: 10px;
    fill: var(--color-text);
  }

  .list-contact__link:hover svg,
  .list-contact__link:focus svg {
    fill: var(--color-accent);
  }
}

// ___________________1200px +____________________
@media screen and (min-width: 1200px) {
  .navigation__logo_right {
    margin-right: 93px;
  }

  .list-contact {
    display: flex;
    align-items: center;
  }

  .list-contact__mail {
    margin-bottom: 0px;
    margin-right: 40px;
  }

  .list-contact__link {
    display: flex;
    align-items: center;
    padding: 25px 0;
  }

  .header__body {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

// ____________________________
// header {
//   border-bottom: #ececec solid 1px;
// }

// .header__body {
//   display: flex;
//   align-items: center;
//   min-height: 80px;
// }

// .navigation {
//   display: flex;
//   align-items: center;
// }

// .navigation__logo_right {
//   margin-right: 94px;
// }
// .nav-list {
//   display: flex;
// }

// .nav-list__item {
//   position: relative;

//   &:last-child {
//     margin-right: 0;
//   }
// }

// .nav-list__link {
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   font-weight: 500;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--header-color-text);
//   padding-top: 25px;
//   padding-bottom: 25px;

//   &:hover,
//   &:focus {
//     color: var(--color-accent);
//   }
// }

// .list-contact {
//   display: flex;
//   align-items: center;
//   margin-left: auto;

//   font-weight: 500;
//   line-height: 1.17;
//   letter-spacing: 0.02em;
// }

// .list-contact__mail {
//   margin-right: 50px;
// }

// .current {
//   color: var(--color-accent);

//   &::after {
//     position: absolute;
//     bottom: -33px;
//     right: 0px;
//     content: "";
//     width: 100%;
//     height: 4px;
//     background-color: var(--color-accent);
//     border-radius: 2px;
//   }
// }

// .nav-list__item {
//   margin-right: 50px;
// }

// .list-contact__link {
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   color: var(--color-text);
//   padding-top: 25px;
//   padding-bottom: 25px;

//   &:hover,
//   &:focus {
//     color: var(--color-accent);
//   }
// }

// .list-contact__link > svg {
//   margin-right: 10px;
//   fill: var(--color-text);
// }

// .list-contact__link:hover svg,
// .list-contact__link:focus svg {
//   fill: var(--color-accent);
//
//
