.svg-client {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--icon-klient-color);
  max-width: 170px;
  max-height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.client__link {
  display: block;
  box-sizing: border-box;
  width: 170px;
  height: 92px;
}

.client-item > a:hover > .svg-client,
.client-item > a:focus > .svg-client {
  fill: var(--color-accent);
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

.client-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: calc((100% - 60px) / 2);
}

@media screen and (max-width: 767px) {
  .client-item {
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

// __________0 - 430px_______________
@media screen and (max-width: 430px) {
  .client-list {
    flex-direction: column;
    align-items: center;
  }

  .client-item {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

// ________________768px +________________
@media screen and (min-width: 768px) {
  .client-list {
    flex-basis: calc((100% - 60px) / 3);
  }

  .client__link {
    width: 226px;
  }

  .svg-client {
    max-width: 226px;
  }

  .client-item {
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
