body {
  color: var(--color-text);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header {
  color: var(--header-color-text);
  font-weight: 700;
  line-height: 1.17;
}

.center {
  text-align: center;
}

// __________480px - 768px___________

@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    max-width: calc(480px - 20px);
  }
}

// ____________768+_____________________
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

// ______________________1200+___________________
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
